.navbar a {
    color: white;
    font-family: 'Rubik', sans-serf;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.navbar-brand img {
    margin-right: 0.3rem;
}

.nav-item a {
    font-size: 0.825rem;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}